/* колір тексту основний NAVY BLUE color: #2E2F42; */

/* колір тексту дрібний SLATE color: #434455; */

/* колір адрес SLATE color: #434455;  */

/* колір адрес IRIS ховер color: #4D5AE5; */

/* колір кнопки IRIS стандарт color: #4D5AE5; */

/* колір кнопки IRIS ховер color: #4D5AE5; */

/* колір кнопки клік Free Speech Blue color: #404BBF; */

/* колір тексту footer color: color:  */

/* колір WHITE color: #FFFFFF; */

/* CSS-variables */
:root {
    --primary-white-color: #FFFFFF;
    --primary-text-color: #2E2F42;
    --tagline-text-color: #434455;
    --accent-color: #4D5AE5;
    --button-click-color: #404BBF;
    --footer-text-color: #E7E9FC;
}

/* For all */
a {
    text-decoration: none;
}
.list {
    list-style: none;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

/* Header */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 0.75;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-web {
    color: var(--accent-color);
}
.logo-studio {
    color: var(--primary-text-color);
}

/* Site Nav */

.site-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--tagline-text-color);
}
.link.current {
    color: var(--accent-color);
}
.link {
    color: var(--tagline-text-color);
}

/* Contacts */

.contacts {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--tagline-text-color);
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}
.tagline {
    color: var(--tagline-text-color);
}

/* Hero */

.hero {
    background-color: var(--primary-text-color);
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}
.hero-btn {
    font-family: 'Roboto'; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-color);
}  
.hero-btn:active {
    background-color: var(--button-click-color);
}

/* Titles & taglines */

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.img-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.tagline {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer */

.footer {
    background-color: var(--primary-text-color);
}
.footer-tagline {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
}
.footer-logo {
    color: var(--primary-white-color);
}
.footer-studio {
    color: var(--primary-white-color);
}

/* Portfolio */

.filter-btn {
    font-family: 'Roboto';
    font-weight: 500;    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
}
.filter-btn:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
}
